.container-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 403px;
    background-image: url(../images/pointsm.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.container {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

// 480 +
@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }

    .container-header {
        align-items: flex-start;
    }

    .container-hero {
        height: 317px;
        background-image: url(../images/points480.png);
    }
}

// 768 +
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .container-header {
        align-items: flex-end;
    }

    .container-hero {
        height: 335px;
        background-image: url(../images/pointst.png);
    }
}

// 1200 +
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .container-hero {
        height: 546px;
        background-image: url(../images/pointsd.png);
    }
}