.container-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 403px;
    background-image: url(../images/points/pointsm.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

// 480 +
@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }

    .container-hero {
        height: 317px;
        background-image: url(../images/points/points480.png);
    }
}

// 768 +
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .container-hero {
        height: 335px;
        background-image: url(../images/points/pointst.png);
    }

    .container-footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
}

// 1200 +
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .container-hero {
        height: 546px;
        background-image: url(../images/points/pointsd.png);
    }

    .container-footer {
        margin-bottom: 60px;
        align-items: flex-end;
    }
}