:root {
  --primary-color: #131313;
  --secondary-color: #FCFCFC;
  --accent-color: #F8D24E;
  --fon-color: #84A178;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;
  --medium-font: 500;
  --bold-font: 700;
  --bolder-font: 900;
}