<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-info icon1">
        <p class="advantages-text">
          <span class="advantages-quantity">721</span>Aliquam ac dui vel dui vulputate consectetur.
          Mauris massa.
        </p>
      </li>
      <li class="advantages-info icon2">
        <p class="advantages-text">
          <span class="advantages-quantity">16kg</span>Aliquam ac dui vel dui vulputate consectetur.
          Mauris massa.
        </p>
      </li>
      <li class="advantages-info icon3">
        <p class="advantages-text">
          <span class="advantages-quantity">84</span>Aliquam ac dui vel dui vulputate consectetur.
          Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
