<section class="contacts" id="contacts">
  <div class="container">
    <h3 class="visually-hidden"></h3>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <p class="contacts-title">cafe</p>
        <p class="city">
          Chicago
          <span class="adds">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</span>
        </p>
        <ul class="border list">
          <li class="schedule">
            Monday - Friday
            <span class="hours">06:00 AM - 10:00 PM</span>
          </li>
          <li class="schedule">
            Saturday - Sunday
            <span class="hours">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="border list">
          <li class="contacts-box">
            <a class="contacts-tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-box">
            <a class="contacts-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-item">
        <p class="contacts-title">foodtruck</p>
        <p class="city">
          Los Angeles
          <span class="adds">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</span>
        </p>
        <ul class="border list">
          <li class="schedule">
            Monday - Friday
            <span class="hours">06:00 AM - 10:00 PM</span>
          </li>
          <li class="schedule">
            Saturday - Sunday
            <span class="hours">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="border list">
          <li class="contacts-box">
            <a class="contacts-tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-box">
            <a class="contacts-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-item">
        <p class="contacts-title">cafe</p>
        <p class="city">
          New York
          <span class="adds">726 Sterling Pl, Brooklyn, NY 11222, USA</span>
        </p>
        <ul class="border list">
          <li class="schedule">
            Monday - Friday
            <span class="hours">06:00 AM - 10:00 PM</span>
          </li>
          <li class="schedule">
            Saturday - Sunday
            <span class="hours">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="border list">
          <li class="contacts-box">
            <a class="contacts-tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-box">
            <a class="contacts-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="btn-list list">
      <li>
        <button class="location-btn" type="button">
          Our Locations
          <svg width="12" height="12">
            <use href="images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="franchise-btn" type="button">
          Franchise
          <svg width="12" height="12">
            <use href="images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
