<section class="gallery">
  <div class="container">
    <div class="gallery-box">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="images/gallery/galleryd.webp 1x, images/gallery/galleryd@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="images/gallery/galleryd.jpg 1x, images/gallery/galleryd@2x.jpg 2x"
          type="image/jpeg"
        />
        <source
          media="(min-width: 768px)"
          srcset="images/gallery/galleryt.webp 1x, images/gallery/galleryt@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="images/gallery/galleryt.jpg 1x, images/gallery/galleryt@2x.jpg 2x"
          type="image/jpeg"
        />
        <source
          media="(min-width: 480px)"
          srcset="images/gallery/gallery480.webp 1x, images/gallery/gallery480@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 480px)"
          srcset="images/gallery/gallery480.jpg 1x, images/gallery/gallery480@2x.jpg 2x"
          type="image/jpeg"
        />
        <source
          media="(max-width: 479px)"
          srcset="images/gallery/gallerym.webp 1x, images/gallery/gallerym@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(max-width: 479px)"
          srcset="images/gallery/gallerym.jpg 1x, images/gallery/gallerym@2x.jpg 2x"
          type="image/jpeg"
        />
        <img class="gallery-img" src="images/gallery/galleryd.jpg" alt="icecreama" />
      </picture>
    </div>
  </div>
</section>
