<section class="hero">
    <div class="container">
        <h1 class="hero_title">ice cream made with<span class="hero_title-mobile">passion</span></h1>  
        <ul class="hero_menu list">
            <li class="hero_menu-item">
                <a class="hero_btn link" href="#">Products</a>
            </li>
            <li class="hero_menu-item">
                <a class="hero_link" href="#">How it’s made?</a>
            </li>
        </ul>
    </div>
    <div class="hero_icecrema">
        <img class="hero_icecrema-img" src="images/mobile.png" alt="ice">
        <svg class="hero_points-img">
            <use href="images/sprite.svg#icon-points"></use>
        </svg>
    </div>
</section>