<section class="hero">
  <div class="container container-hero">
    <div>
      <h1 class="hero_title">ice cream made with<span class="hero_title-mobile">passion</span></h1>
      <ul class="hero_menu list">
        <li class="hero_menu-item">
          <a class="hero_btn link" href="#products">Products</a>
        </li>
        <li class="hero_menu-item">
          <a class="hero_link" href="#about">How it&rsquo;s made? </a>
        </li>
      </ul>
      <p class="hero-text">
        Indulge in a scoop of ice cream made with passion and treat your taste buds to an
        unforgettable experience!
        <svg class="arrow" width="40" height="16">
          <use href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </p>
    </div>
    <ul class="list-cafe list">
      <li class="item-cafe"><span class="amt-cafe">16</span>cafes</li>
      <li class="item-cafe"><span class="amt-cafe">23</span>food trucks</li>
    </ul>
    <img class="more-icecrema-img" src="images/more-icecrema.png" alt="more icecrema" />
    <img class="hero_icecrema-img" src="images/480.png" alt="icecrema" />
  </div>
</section>
