<div class="modal-recipe is-hidden-recipe" data-recipe>
  <div class="recipe">
    <button class="recipe-close-btn" type="button" data-recipe-close>
      <svg width="12" height="12">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="recipe-title">Chololate icecream</p>
    <div class="recipe-img">
      <img src="images/choco-ice.png" alt="chocolate icecrema" />
    </div>
    <ul>
      <li>
        <p>320</p>
        kcal
      </li>
      <li>
        <p>4g</p>
        Prote...
      </li>
      <li>
        <p>8,2g</p>
        Fats
      </li>
      <li>
        <p>40,4g</p>
        Carbs
      </li>
    </ul>
    <p>Ingredients</p>
    <ul>
      <li>Milk <span>100ml</span></li>
      <li>Belgian chocolate <span>20g</span></li>
      <li>Cream <span>150 ml</span></li>
      <li>Cocoa powder <span> 30g</span></li>
      <li>Sugar <span>40g</span></li>
      <li>Vanilla sugar <span>10g</span></li>
    </ul>
    <form class="">
      <input class="" name="user_name" minlength="3" type="text" placeholder="Name" required />
      <input class="" name="user_phone" type="tel" placeholder="Phone" required />
      <textarea class="" rows="3" name="user_message" placeholder="Comment"></textarea>
      <button class="" type="submit">Submit</button>
    </form>
  </div>
</div>
