<section class="products" id="products">
  <div class="container">
    <p class="label">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="card-list list">
      <li class="card-item card1">
        <div class="card-box box-fon1">
          <div>
            <h3 class="card-title">ice cream</h3>
            <p class="card-text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
              stabilizer
            </p>
          </div>
          <button class="card-btn" type="button">
            <svg width="40" height="16">
              <use href="images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="card-item card2">
        <div class="card-box box-fon2">
          <div>
            <h3 class="card-title">ice coffee</h3>
            <p class="card-text">
              Fragrant invigorating drink created from 100% natural ingredients without the use of
              preservatives and flavor enhancers
            </p>
          </div>
          <button class="card-btn" type="button">
            <svg width="40" height="16">
              <use href="images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="card-item card3">
        <div class="card-box box-fon3">
          <div>
            <h3 class="card-title">milkshakes</h3>
            <p class="card-text">
              Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries
              and other sweets of your choice
            </p>
          </div>
          <button class="card-btn" type="button">
            <svg width="40" height="16">
              <use href="images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
