<section class="reviews">
  <div class="container">
    <div class="customer">
      <img class="customer-img" src="images/customer.jpg" alt="" />
    </div>
    <p class="reviews-text">
      I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
      addition, you have beautiful serving, cozy atmosphere and polite staff.
    </p>
    <p class="client">Emily, Los Angeles</p>
    <ul class="marker-list list">
      <li class="marker"></li>
      <li class="marker"></li>
      <li class="marker"></li>
    </ul>
  </div>
</section>
