.products {
    background-image: url(../images/bg/mbgm.jpg);
    background-position: 50% 0;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
    position: relative;
}

.label {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.22;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.products-title {
    font-family: var(--secondary-font);
    font-size: 30px;
    font-weight: 400;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
}

.card-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 528px;
    width: 280px;
}

.card-item:not(:last-child) {
    margin: 0 0 60px 0;
}

.card-item::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 11px;
    border-radius: 50%;
}

.card-item::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
}

.card1::before {
    background-image:
        linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)),
        linear-gradient(0deg, #D9D9D9, #D9D9D9);
    box-shadow: 0px 5px 20px 0px rgba(10, 136, 23, 0.25);
}

.card1::after {
    background-image: url(../images/card1.png);
}

.card2::before {
    background-image:
        linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
        linear-gradient(0deg, #D9D9D9, #D9D9D9);
    box-shadow: 0px 5px 20px 0px rgba(153, 114, 23, 0.25);
}

.card2::after {
    background-image: url(../images/card2.png);
}

.card3::before {
    background-image:
        linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)),
        linear-gradient(0deg, #D9D9D9, #D9D9D9);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.card3::after {
    background-image: url(../images/card3.png);
}

.card-box {
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
}

.box-fon1 {
    background-color: #AEC6A5;
}

.box-fon2 {
    background-color: #EFD478;
}

.box-fon3 {
    background-color: #D6936D;
}

.card-title {
    font-size: 20px;
    font-weight: var(--bold-font);
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: center;
    padding-top: 123px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.79;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 0 40px;
}

.card-btn {
    display: flex;
    margin: 0 auto;
    padding: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .products {
        background-image: url(../images/bg/mbg480.jpg);
        background-position: 50% -10px;
    }

    .card-box {
        height: 428px;
    }

    .card-item {
        height: 536px;
        width: 320px;
    }

    .card-text {
        padding: 0 60px;
    }
}

@media screen and (min-width: 768px) {
    .products {
        background-image: url(../images/bg/tbgt.jpg);
        background-position: 50%;
        background-size: cover;
    }

    .label {
        font-size: 22px;
        line-height: 1.23;
    }

    .products-title {
        font-size: 34px;
        line-height: 1.26;
    }

    .card-list {
        margin-top: 80px;
        flex-direction: row;
    }

    .card-item {
        height: 548px;
        width: calc((100% - 32px) / 3);
    }

    .card-item:not(:last-child) {
        margin: 0 16px 0 0;
    }

    .card-box {
        border-radius: 18px;
    }

    .card-title {
        padding-top: 108px;
        font-size: 22px;
        line-height: 1.23;
    }

    .card-text {
        padding: 0 26px;
    }

    .card-btn {
        padding: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .products {
        background-image: url(../images/bg/dbgd.jpg);
        background-position: 50% 0;
        background-size: cover;
    }

    .label {
        font-size: 30px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }

    .products-title {
        font-size: 36px;
        line-height: 1.25;
        letter-spacing: 0.06em;
    }

    .card-list {
        margin-top: 120px;
    }

    .card-item {
        height: 719px;
        width: calc((100% - 58px)/3);
    }

    .card-item:not(:last-child) {
        margin: 0 29px 0 0;
    }

    .card-item::before {
        width: 302px;
        height: 302px;
        top: 16px;
    }

    .card-item::after {
        width: 302px;
        height: 302px;
        background-size: 302px;
    }

    .card-box {
        height: 536px;
        border-radius: 24px;
    }

    .card-title {
        font-size: 30px;
        line-height: 1.23;
        padding-top: 165px;
        margin-bottom: 66px;
    }

    .card-text {
        padding: 0 64px;
        font-size: 16px;
        line-height: 1.75;
    }

    .card-btn {
        margin-bottom: 48px;
    }
}