.footer {
    background-color: var(--fon-color);
    padding-bottom: 20px;
}

.footer-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fcfcfc;
    text-transform: uppercase;
    width: 234px;
}

.footer-text {
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-align: left;
    display: block;
    margin-top: 16px;
}

.footer-box {
    margin-top: 60px;
    margin-bottom: 40px;
}

.social-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.social-item:not(:last-child) {
    margin-right: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #F8D24E;
    fill: #84A178;
}

.social-link:hover,
.social-link:focus {
    fill: #fcfcfc;
}

.footer-contact {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #131313;
}

.footer-tel {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #fcfcfc;
}

.rights-box {
    max-width: 1168px;
    padding-top: 20px;
    border-top: 1px solid #E1E1E1;
    margin: 0 auto;
}

.footer-rights {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #7a7a7a;
    width: 280px;
    padding: 0 65px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .footer {
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding-bottom: 12px;
    }

    .footer-title {
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.04em;
        text-align: left;
        width: 352px;
    }

    .footer-text {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0.06em;
        text-align: left;
        margin-top: 8px;
    }

    .footer-box {
        margin-bottom: 0;
    }

    .social-list {
        margin-bottom: 34px;
    }

    .social-item:not(:last-child) {
        margin-right: 30px;
    }

    .footer-contact {
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
    }

    .footer-tel {
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
    }

    .rights-box {
        padding-top: 12px;
    }

    .footer-rights {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0.02em;
        text-align: left;
        width: 298px;
        padding: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer-title {
        font-size: 30px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0.04em;
        width: 510px;
    }

    .footer-text {
        font-size: 58px;
        font-weight: 700;
        line-height: 71px;
        letter-spacing: 0.06em;
    }

    .footer-box {
        margin: 0;
    }

    .social-list {
        margin-bottom: 40px;
    }

    .footer-contact {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.02em;
    }

    .footer-tel {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.02em;
    }

    .footer-rights {
        font-size: 12px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-align: left;
    }
}